# Branch name to pull from server.
LOFTUXAB_BRANCH=housni/experimental

LOFTUXAB_BASE_URL=https://raw.githubusercontent.com/housni/alfresco-ubuntu-install/$LOFTUXAB_BRANCH

LOFTUXAB_INSTALL_PATH=/opt/alfresco

# The modules you want to install, delimited by space.
LOFTUXAB_MODULES=( tomcat.sh nginx.sh )

# IP/FQDN of Share.
SHARE_HOSTNAME=172.16.240.10

# IP/FQDN of the Repository.
REPO_HOSTNAME=172.16.240.10

# You are now entering the dark side, Luke <insert asthmatic breathing>
DEBIAN_FRONTEND=noninteractive